<div class="row">
  <div class="col-md-2">
      <h4>Select Employee</h4>
  </div>
  <div class="col-md-8">
      <select class="form-control" (change)="onSelect2($event.target.value)">
        <option *ngFor="let employee of employees" [selected]="employee == selectedEmployee" (click)="onSelect2(employee)" value="{{employee.id}}">
          {{employee.name}}
        </option>
      </select>
  </div>
  <div class="col-md-2">
      <a class="btn btn-success btn-sm" (click)="addTask()">
          <i class="material-icons">add_circle_outline</i>
      </a>  
  </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2">
        <h4>Select Week</h4>
    </div>
    <div class="col-md-8">
        <select [(ngModel)]="weekNumber" class="form-control" (change)="onSelect($event.target.value)">
          <option *ngFor="let week of weeks" value="{{week}}">
            {{week}}
          </option>
        </select>
    </div>
  </div>
<div style="height: 15px; clear: both;"></div>
<div class="row">
  <div class="col-md-12">
      <table class="table">
          <thead>
            <th>Task Name</th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
          </thead>
          <tr *ngFor="let employee of employeeData">
            <td> 
                <select class="form-control" [(ngModel)]="employee.task">   
                  <option  *ngFor="let task of tasks; let i = index" [selected]="task.id == employee.task" value="{{task.id}}">
                    {{task.name}}
                  </option>
                </select>
            </td>
            <td><input class="form-control" [(ngModel)]="employee.sunday" type="number" placeholder="0"/></td>
            <td><input class="form-control" [(ngModel)]="employee.monday" type="number" placeholder="0"/></td>
            <td><input class="form-control" [(ngModel)]="employee.tuesday" type="number" placeholder="0"/></td>
            <td><input class="form-control" [(ngModel)]="employee.wednesday" type="number" placeholder="0"/></td>
            <td><input class="form-control" [(ngModel)]="employee.thursday" type="number" placeholder="0"/></td>
            <td><input class="form-control" [(ngModel)]="employee.friday" type="number" placeholder="0"/></td>
            <td><input class="form-control" [(ngModel)]="employee.saturday" type="number" placeholder="0"/></td>
          </tr>
        
        </table>
  </div>
</div>
<div class="row">
    <div class="col col-md-11 ">
        <a routerLink="" class="btn btn-secondary float-right">Back</a> &nbsp; 
        <button type="button" (click)="saveTimeSheet()" class="btn btn-success float-right">Save</button> &nbsp;
    </div>
</div>
<div style="height: 15px; clear: both;"></div>
<div class="row" *ngIf="this.isVisible">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">
            Sheet is updated successfully
          </div>
    </div>
</div>



