<h1>Employee List</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weekly Effort (Total)</th>
        <th>Weekly Effort (Average)</th>
    </tr>
    <tr *ngFor="let item of employees">
        <td>{{item.id}}</td>
        <td>
            <a routerLink="/details/{{item.id}}">{{item.code}}</a>
        </td>
        <td>
            <a routerLink="/details/{{item.id}}">{{item.name}}</a>    
        </td>
        <td>{{item.totalWeeklyEffort}}</td>
        <td>{{item.averageWeeklyEffort}}</td>
    </tr>
</table>